@model CreateGuestDto
@{
    ViewData["Title"] = "AddGuest";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="card-title">
    <h4>Misafir Ekleme Sayfası</h4>
</div>

<form method="post">
    <label>Misafir Ad</label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />
    <label>Misafir Soyad</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <span asp-validation-for="Surname" class="text-danger"></span>
    <br />
    <label>Misafir Şehir</label>
    <input type="text" asp-for="City" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
    <br />
    <button class="btn mb-1 btn-rounded btn-outline-success">Misafir Ekle</button>
</form>

