@model List<ResultGuestDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

<div class="card-title">
    <h4>MİSAFİRLER</h4>
</div>

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Name</td>
            <td>
                <span class="label gradient-2 rounded">@item.Surname</span>
            </td>
            <td>@item.City</td>
            <td><a href="/AdminGuest/DeleteGuest/@item.GuestID" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/AdminGuest/UpdateGuest/@item.GuestID" class="btn mb-1 btn-rounded btn-outline-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/AdminGuest/AddGuest/" class="btn mb-1 btn-rounded btn-outline-success">Yeni Misafir Ekle</a>

