
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="fa fa-info-circle menu-icon"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="/AdminStaff/Index/" aria-expanded="false">
                    <i class="fa fa-users menu-icon"></i><span class="nav-text">Personeller</span>
                </a>
            </li>
            <li>
                <a href="/AdminTestimonial/Index/" aria-expanded="false">
                    <i class="fa fa-star menu-icon"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="/AdminService/Index/" aria-expanded="false">
                    <i class="fa fa-briefcase menu-icon"></i><span class="nav-text">Hizmetler</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false">
                    <i class="fa fa-bed menu-icon"></i><span class="nav-text">Odalar</span>
                </a>
            </li>
            <li>
                <a href="/AdminGuest/Index/" aria-expanded="false">
                    <i class="fa fa-user-circle menu-icon"></i><span class="nav-text">Misafirler</span>
                </a>
            </li>
            <li>
                <a href="/AdminContact/Inbox/" aria-expanded="false">
                    <i class="fa fa-bell menu-icon"></i><span class="nav-text">Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="/AdminMail/Index/" aria-expanded="false">
                    <i class="fa fa-envelope menu-icon"></i><span class="nav-text">Mail İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/AdminImageFile/Index/" aria-expanded="false">
                    <i class="fa fa-image   menu-icon"></i><span class="nav-text">Resim Yükleme İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="/AdminFile/Index/" aria-expanded="false">
                    <i class="fa fa-folder-open   menu-icon"></i><span class="nav-text">Dosya Yükleme İşlemleri</span>
                </a>
            </li>
        </ul>
    </div>
</div>
