
<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s" id="iletisim">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-4">
                <div class="bg-primary rounded p-4">
                    <a href="#anasayfa"><h1 class="text-white text-uppercase mb-3">HOTELIER</h1></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <h6 class="section-title text-start text-primary text-uppercase mb-4">İLETİŞİM</h6>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>31500, Reyhanlı, Hatay, Türkiye</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+90 326 413 03 11</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>furkan.iscn@outlook.com</p>
                <div class="d-flex pt-2">
                    @*<a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>*@
                    <a class="btn btn-outline-light btn-social" href="https://www.linkedin.com/in/furkan-i%C5%9Fcan-6b2298210/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/furkaniscn/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row gy-5 g-4">
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">ŞİRKETiMİZ</h6>
                        <a class="btn btn-link" href="#hakkimizda">Hakkımızda</a>
                        <a class="btn btn-link" href="#iletisim">Bizimle İletişime Geçin</a>
                        <a class="btn btn-link" href="">Gizlilik Sözleşmesi</a>
                        <a class="btn btn-link" href="">Kurallar & Şartlar</a>
                        <a class="btn btn-link" href="#iletisim">Destek</a>
                    </div>
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">HİZMETLERİMİZ</h6>
                        <a class="btn btn-link" href="#hizmetlerimiz">Yemekler & Restaurant</a>
                        <a class="btn btn-link" href="#hizmetlerimiz">Spa & Fitness</a>
                        <a class="btn btn-link" href="#hizmetlerimiz">Spor & Oyunlar</a>
                        <a class="btn btn-link" href="#hizmetlerimiz">Parti & Aktiviteler</a>
                        <a class="btn btn-link" href="#hizmetlerimiz">GYM & Yoga</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; Tüm Hakları Saklıdır --
                    <span style="font-weight: bold; font-style: italic; color: #FF7F50;">Furkan İŞCAN</span>
                    tarafından yapılmış ve tüm hakları saklıdır @DateTime.Now.Year
                </div>

                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="#anasayfa">Ana Sayfa</a>
                        <a href="">Çerezler</a>
                        <a href="#iletisim">Yardım</a>
                        <a href="">Veri Kullanımı</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>