@*StaffViewModel'i çağırabilmek için ViewImport kısmına kod ekledik*@
@model List<StaffViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="card-title">
    <h4>PERSONELLER</h4>
</div>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Personel Adı</th>
        <th>Personal Unvanı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.StaffID</td>
            <td>@item.Name</td>
            <td>
                <span class="label gradient-1 rounded">@item.Title</span>
            </td>
            <td><a href="/Staff/DeleteStaff/@item.StaffID" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/Staff/UpdateStaff/@item.StaffID" class="btn mb-1 btn-rounded btn-outline-warning">Güncelle</a></td>
            <td><a href="/Staff/GetStaff/@item.StaffID" class="btn mb-1 btn-rounded btn-outline-info">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Staff/AddStaff/" class="btn mb-1 btn-rounded btn-outline-success">Yeni Personel Ekle</a>

