@model CreateWorkLocationDto
@{
    ViewData["Title"] = "AddWorkLocation";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="card-title">
    <h4>Lokasyon Ekleme Sayfası</h4>
</div>

<form method="post">
    <label>Lokasyon Adı</label>
    <input type="text" asp-for="WorkLocationName" class="form-control" />
    <br />
    <label>Bulunduğu Şehir</label>
    <input type="text" asp-for="WorkLocationCity" class="form-control" />
    <br />
    <button class="btn mb-1 btn-rounded btn-outline-success">Otel Lokasyonu Ekle</button>
</form>


